<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="by.ingman.sevenlis.ice_v3">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
    <!-- <uses-permission android:name="android.permission.INSTALL_PACKAGES"/> -->
    <!-- <uses-permission android:name="android.permission.VIBRATE"/> -->

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ice_icon_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppBaseTheme">
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyANPU61RZAQxzgc-yy8lOvd41gdwZUiUes"/>
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>
        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activities.OrderActivity">
        </activity>
        <activity android:name=".activities.SettingsActivity">
        </activity>
        <activity android:name=".activities.UpdateDataActivity"
                  android:screenOrientation="portrait">
        </activity>
        <activity android:name=".activities.SelectContragentActivity">
        </activity>
        <activity android:name=".activities.SelectSalespointActivity">
        </activity>
        <activity android:name=".activities.SelectOrderItemActivity">
        </activity>
        <activity android:name=".activities.SearchProductActivity">
        </activity>

        <service
            android:name=".services.UpdateDataService"
            android:enabled="true"/>
        <service
            android:name=".services.ExchangeDataService"
            android:enabled="true"/>
        <service
            android:name=".remote.CheckApkUpdate"
            android:enabled="true"/>

        <activity android:name=".activities.OrderViewActivity">
        </activity>
        <activity android:name=".activities.AboutActivity"
            android:theme="@style/Theme.AppCompat.Light.Dialog">
        </activity>
    </application>

</manifest>